.advantages__heading {
  padding-top: 40px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 47px;
    padding-bottom: 29px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 64px;
    padding-bottom: 58px;
  }
}

.advantages__heading-paragraph {
  margin: 0;

  @media (max-width: @mobile-width-only) {
    margin: 0;

    &:not(:last-of-type) {
      margin: 0 0 32px;
    }
  }
}

.advantages__container {
  background-color: @smoky-grey;
  .half-triangle-mask();
}

.advantages__inner-container {
  padding: 84px @mobile-side-padding 0;
  display: flex;
  flex-direction: column;
  row-gap: 41px;

  @media (min-width: @tablet-width) {
    padding: 0 @tablet-side-padding;
    flex-direction: row-reverse;
    row-gap: 0;
    column-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 @desktop-side-padding;
    flex-direction: column-reverse;
    row-gap: 56px;
    column-gap: 0;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 393px;
    padding: 76px 0 20px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    min-height: 0;
    padding: 0 0 42px;
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 68px;
  }
}

.advantages__item {
  margin: 0 0 31px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 34px;
  }

  @media (min-width: @desktop-width) {
    max-width: 252px;
    margin: 0;
  }
}

.advantages__title {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 700;
  color: @basic-black;

  @media (min-width: @desktop-width) {
    margin: 0 auto 22px;
    font-size: 30px;
    line-height: 1;
  }
}

.advantages__description {
  margin: 0;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__pictures {
  position: relative;
  z-index: 2;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    column-gap: 52px;
  }
}

.advantages__picture {
  height: 278px;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 100%;
    width: 268px;
  }

  @media (min-width: @desktop-width) {
    height: 302px;
  }

  &--stage--smiley {
    background-image: url("../img/iPhone-smiley-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: auto 320px;
    background-position: center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iPhone-smiley-mobile@2x.png");
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/iPhone-smiley-tablet@1x.png");
      background-size: auto 547px;
      background-position: center bottom -66px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iPhone-smiley-tablet@2x.png");
      }
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/iPhone-smiley-desktop@1x.png");
      background-size: auto 382px;
      background-position: center top;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iPhone-smiley-desktop@2x.png");
      }
    }
  }

  &--stage--grey {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
      background-image: url("../img/iPhone-grey-desktop@1x.png");
      background-size: auto 382px;
      background-position: center top;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iPhone-grey-desktop@2x.png");
      }
    }
  }

  &--stage--pink {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
      background-image: url("../img/iPhone-pink-desktop@1x.png");
      background-size: auto 382px;
      background-position: center top;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iPhone-pink-desktop@2x.png");
      }
    }
  }
}
