.button {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: border 0.5s, background-color 0.5s, @color-ease;

  &--place--intro {
    width: 280px;
    height: 55px;
    margin-right: auto;
    margin-left: auto;
    color: @basic-white;
    text-decoration: none;
    border: 3px solid @basic-white;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: @tablet-width) {
      width: 300px;
    }

    @media (min-width: @desktop-width) {
      font-size: 21px;
    }


    &:hover {
      color: @basic-pink;
      background-color: @basic-white;
    }

    &:active {
      color: rgba(@basic-pink, 0.3);
    }
  }

  &--place--form,
  &--place--modal {
    width: 280px;
    min-height: 63px;
    padding: 10px;
    color: @basic-white;
    background-color: @basic-green;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid @basic-green;
    border-radius: 3px;

    @media (min-width: @tablet-width) {
      width: 300px;
    }

    &:hover {
      background-color: @darker-green;
      border: 2px solid @darker-green;
    }

    &:active {
      color: rgba(@basic-white, 0.3);
    }

    &:disabled {
      background-color: @ligth-grey;
      border: 2px solid @ligth-grey;
    }
  }

  &--place--modal {
    @media (min-width: @desktop-width) {
      width: 100%;
    }
  }

  &--place--photo-editor {
    width: 280px;
    height: 55px;
    background-color: transparent;
    font-weight: 700;
    border-radius: 30px;

    @media (min-width: @tablet-width) {
      width: 260px;
    }

    @media (min-width: @desktop-width) {
      width: 183px;
    }

    &[type="submit"] {
      color: @basic-pink;
      border: 3px solid @basic-pink;

      &:hover {
        color: @basic-white;
        background-color: @basic-pink;
        border: 3px solid @basic-pink;
      }

      &:active {
        color: rgba(@basic-white, 0.3);
      }
    }

    &[type="reset"] {
      color: rgba(@basic-blue, 0.1);
      border: 3px solid rgba(@basic-blue, 0.1);

      &:hover {
        color: rgba(@basic-blue, 0.3);
        border: 3px solid rgba(@basic-blue, 0.3);
      }

      &:active {
        color: rgba(@basic-white, 0.3);
        background-color: rgba(@basic-blue, 0.3);
        border: 3px solid rgba(@basic-blue, 0);
      }
    }
  }
}
