.contacts__container {
  margin: 0 auto;
  padding: 0 @mobile-side-padding 33px;

  @media (min-width: @tablet-width) {
    padding: 0 @tablet-side-padding 23px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 @desktop-side-padding 20px;
  }
}

.contacts__heading {
  padding-top: 42px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 44px;
    padding-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    padding-bottom: 44px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 45px;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
  }
}

.contacts__item {
  max-width: 280px;

  &--type--tel {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin: 0 0 0 18px;//хм, может ширину им задать?
    }

    @media (min-width: @desktop-width) {
      order: 1;
    }
  }

  &--type--address {
    @media (min-width: @desktop-width) {
      order: 2;
    }
  }

  &--type--email {
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      order: 3;
    }
  }
}

.contacts__subtitle {
  margin: 0 0 3px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    margin: 0 0 7px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 24px;
  }
}

.contacts__text {
  margin: 0;
  color: @basic-pink;
  font-size: 24px;
  line-height: 33px;
  font-weight: 200;
  text-decoration: none;

  &--type--tel,
  &--type--email {
    transition: @color-ease;

    &:hover {
      color: @basic-blue;
      text-decoration: underline;
    }

    &:active {
      color: rgba(@basic-blue, 0.3);
      text-decoration: none;
    }
  }
}
