.contacts__container {
  margin: 0 auto;
  padding: 0 @mobile-side-padding 33px;

  @media (min-width: @tablet-width) {
    padding: 0 @tablet-side-padding 23px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 @desktop-side-padding 20px;
  }
}

.contacts__heading {
  padding-top: 42px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-top: 44px;
    padding-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    padding-bottom: 41px;
  }
}

.contacts__heading-paragraph {
  margin: 0;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
  }
}

.contacts__item {
  width: calc(100% - (@mobile-side-padding * 2));

  @media (min-width: @tablet-width) {
    width: 245px;
  }


  &--type--tel {
    margin-bottom: 17px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }

    @media (min-width: 829px) {
      order: 1;
    }
  }

  &--type--address {
    @media (min-width: @tablet-width) {
      margin: 42px auto 0;
    }

    @media (min-width: 829px) {
      margin: 0;
      order: 2;
    }
  }

  &--type--email {
    margin-bottom: 21px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }

    @media (min-width: 829px) {
      order: 3;
    }
  }
}

.contacts__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    margin: 0 0 3px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 20px;
  }
}

.contacts__text {
  margin: 0;
  color: @basic-pink;
  font-size: 24px;
  line-height: 33px;
  font-weight: 200;
  text-decoration: none;

  &--type--tel,
  &--type--email {
    transition: @color-ease;

    &:hover {
      color: @basic-blue;
      text-decoration: underline;
    }

    &:active {
      color: rgba(@basic-blue, 0.3);
      text-decoration: none;
    }
  }
}
