.contest__container {
  @media (min-width: @tablet-width) {
    margin: 0 0 50px;
    padding-right: @tablet-side-padding;
    padding-left: @tablet-side-padding;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-right: @desktop-side-padding;
    padding-left: @desktop-side-padding;
  }
}

.contest__heading {
  padding-top: 44px;
  padding-bottom: 13px;

  @media (min-width: @tablet-width) {
    padding-top: 91px;
    padding-right: 30px;
    padding-bottom: 73px;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 91px;
    padding-right: 100px;
    padding-bottom: 79px;
    padding-left: 100px;
  }
}

.contest__span {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
