.form {
  &--place--photo-editor {
    padding: 20px 0;
    background-color: @smoky-grey;
  }
}

.form__flex-container {
  display: flex;
  flex-direction: column;

  &--for--info,
  &--for--contact-info,
  &--for--impression {
    gap: 29px;
  }

  &--for--achievments {
    gap: 47px;
  }

  &--for--app-type {
    gap: 38px;
  }

  &--for--button {
    gap: 56px;
    padding: 0 0 26px;
  }
}

.form__fieldset {
  margin: 0;
  border: none;
  box-sizing: border-box;
  position: relative;

  &--type--info {
    padding: 42px 0 46px;
  }

  &--type--contact-info {
    padding: 40px 0 44px;
  }

  &--type--achievments,
  &--type--app-type {
    background-color: @smoky-grey;
    padding: 112px 0 44px;
  }

  &--type--impression {
    padding: 74px 0 52px;
  }

  &--type--controls {
    padding: 42px 0 34px;
  }
}

.form__fielset-title {
  width: 220px;/*еще вернусь сюда*/
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-pink;
  text-align: center;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translate(-50%);

  &--for--info,
  &--for--contact-info {
    display: none;
  }
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__label {
  line-height: 30px;

  &--size--s {
    margin-left: 23px;
    font-size: 14px;
    text-transform: uppercase;
    color: @basic-pink;
  }

  &--size--m {
    font-size: 18px;
  }
}

.form__item {
  &--type--text {
    display: flex;
    flex-direction: column;
  }

  &--type--checkbox,
  &--type--radio {
    position: relative;
  }

  &--type--file {
    display: none;
  }
}

.form__input {
  &--type--text {
    font-size: 18px;
    line-height: 30px;
    height: 59px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid @ligth-grey;
    border-radius: 5px;
    outline: none;

    &::placeholder {
      font-size: 18px;
      line-height: 30px;
      color: @basic-blue;
    }

    &:hover {
      border: 2px solid @basic-blue;
    }

    &:focus {
      border: 2px solid @basic-pink;
    }
  }

  &--type--textarea {
    font-family: inherit;
    min-height: 197px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid @ligth-grey;
    border-radius: 5px;
    outline: none;

    &::placeholder {
      font-size: 18px;
      line-height: 30px;
      color: @basic-blue;
    }
  }

  &--type--range {
    display: none;
  }
}

.form__note {
  margin: 0;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.form__sup {
  color: @basic-pink;
}

.form__span {
  display: none;
}

.form__image {
  vertical-align: bottom;
}

// кастомные чекбоксы

.form__input--type--checkbox + .form__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: @basic-white;
  border: 2px solid @ligth-grey;
  box-sizing: border-box;
}

.form__input--type--checkbox + .form__label {
  margin: 0 0 0 57px;
}

.form__input--type--checkbox:checked + .form__label::before {
  background: @basic-white url("./../../img/tick-icon.svg") no-repeat 50% 40%;
}

.form__input--type--checkbox:hover + .form__label::before {
  border: 2px solid @basic-blue;
}

.form__input--type--checkbox:active + .form__label::before {
  border: 2px solid @basic-pink;
}

// кастомные радиокнопки

.form__input--type--radio + .form__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 37px;
  height: 37px;
  background-color: @basic-white;
  border: 2px solid @ligth-grey;
  border-radius: 50%;
  box-sizing: border-box;
}

.form__input--type--radio + .form__label {
  margin: 0 0 0 68px;
}

.form__input--type--radio:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-color: @basic-pink;
  border-radius: 50%;
}

.form__input--type--radio:hover + .form__label::before {
  border: 2px solid @basic-blue;
}

.form__input--type--radio:active + .form__label::before {
  border: 2px solid @basic-pink;
}
