.gallery__heading {
  padding-top: 54px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 100px;//???
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 77px;
  }
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0 @mobile-side-padding;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;

  @media (min-width: @tablet-width) {
    padding: 0 @tablet-side-padding;
  }

  @media (min-width: @desktop-width) {
    margin: 0 @desktop-side-padding;
    padding: 0;
  }
}
