.gallery__heading {
  padding: 54px 0 40px;
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  gap: 20px;
}
