.intro {
  color: @basic-white;
  background-color: @darker-blue;
  background-image: url("../img/bg-intro-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-intro-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-intro-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-intro-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro-desktop@2x.jpg");
    }
  }

  &--place--index {
    background-size: auto 462px;
    background-position: center top;

    @media (min-width: @tablet-width) {
      background-size: cover;
      background-position: center bottom;
    }
  }
}

.intro__container {
  padding-right: @mobile-side-padding;
  padding-left: @mobile-side-padding;

  @media (min-width: @tablet-width) {
    padding-right: @tablet-side-padding;
    padding-left: @tablet-side-padding;
  }

  @media (min-width: @desktop-width) {
    padding-right: @desktop-side-padding;
    padding-left: @desktop-side-padding;
  }

  &--place--index {
    padding-top: 90px;
    padding-right: 0;
    padding-bottom: 31px;
    padding-left: 0;

    @media (min-width: @tablet-width) {
      padding-top: 205px;
      padding-bottom: 114px;

      background-image: url("../img/iPhone-hand-tablet@1px.png");
      background-repeat: no-repeat;
      background-size: 660px auto;
      background-position: center bottom 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iPhone-hand-tablet@2x.png");
      }

      @media (min-width: @desktop-width) {
        padding-right: @desktop-side-padding;
        padding-left: @desktop-side-padding;
        background-image: url("../img/iPhone-hand-desktop@1x.png");
        background-size: 1050px auto;
        background-position: right 4px bottom 0;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/iPhone-hand-desktop@2x.png");
        }
      }
    }

    @media (min-width: @desktop-width) {
      padding-top: 209px;
      padding-bottom: 125px;
    }
  }

  &--place--form {
    padding-top: 94px;
    padding-bottom: 44px;

    @media (min-width: @tablet-width) {
      padding-top: 177px;
      padding-bottom: 59px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 168px;
      padding-bottom: 88px;
    }
  }

  &--place--photo {
    padding-top: 94px;
    padding-bottom: 77px;

    @media (min-width: @tablet-width) {
      padding-top: 177px;
      padding-bottom: 127px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 168px;
      padding-bottom: 89px;
    }
  }
}

.intro__inner-container {
  padding: 0 @mobile-side-padding;

  &--content--slogan {
    min-height: 372px;
    margin-bottom: 28px;
    background-image: url("../img/iPhone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 320px auto;
    background-position: center bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iPhone-hand-mobile@2x.png");
    }

    @media (min-width: @tablet-width) {
      min-height: auto;
      background-image: none;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 300px;
    padding: 0 @tablet-side-padding;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.intro__button {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin: 0 0 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.intro__slogan {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 200;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
  }

  &--place--index {
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.2;

    @media (min-width: @tablet-width) {
      max-width: 220px;
      margin-bottom: 30px;
    }

    @media (min-width: @desktop-width) {
      max-width: 240px;
      margin-bottom: 36px;
      font-size: 50px;
      line-height: 68px;
    }
  }

  &--place--form,
  &--place--photo {
    @media (min-width: @tablet-width) {
      font-size: 50px;
      line-height: 68px;
    }
  }

  &--place--photo {
    @media (min-width: @desktop-width) {
      max-width: 640px;
      margin: 0 auto;
    }
  }
}

.intro__list {
  list-style: none;
  margin: 0 0 14px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;

  @media (min-width: @tablet-width) {
    margin: 0 0 25px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 46px;
  }
}

.intro__item:not(:last-child) {
  margin-right: 35px;
}

.intro__legend {
  margin: 0;
  font-weight: 200;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
