.intro {
  color: @basic-white;
  background: @darker-blue url("../img/back-mobile.jpg") no-repeat;
}

.intro__container {
  padding-right: @mobile-side-padding;
  padding-left: @mobile-side-padding;

  @media (min-width: @tablet-width) {
    padding-right: @tablet-side-padding;
    padding-left: @tablet-side-padding;
  }

  @media (min-width: @desktop-width) {
    padding-right: @desktop-side-padding;
    padding-left: @desktop-side-padding;
  }

  &--place--index {
    padding-top: 95px;
    padding-bottom: 38px;

    @media (min-width: @tablet-width) {
      padding-top: 212px;
      padding-bottom: 119px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 224px;
      padding-bottom: 130px;
    }
  }

  &--place--form {
    padding-top: 102px;
    padding-bottom: 51px;

    @media (min-width: @tablet-width) {
      padding-top: 191px;
      padding-bottom: 74px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 184px;
      padding-bottom: 104px;
    }
  }

  &--place--photo {
    padding-top: 102px;
    padding-bottom: 84px;

    @media (min-width: @tablet-width) {
      padding-top: 191px;
      padding-bottom: 143px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 184px;
      padding-bottom: 104px;
    }
  }
}

.intro__inner-container {
  @media (min-width: @tablet-width) {
    max-width: 300px;
  }
}

.intro__button {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin: 0 0 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.intro__slogan {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 200;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
  }

  &--place--index {
    max-width: 280px;
    margin-right: auto;
    margin-bottom: 340px;
    margin-left: auto;
    line-height: 1.2;

    @media (min-width: @tablet-width) {
      margin-bottom: 39px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 51px;
      font-size: 50px;
      line-height: 68px;
    }
  }

  &--place--form,
  &--place--photo {
    @media (min-width: @tablet-width) {
      font-size: 50px;
      line-height: 68px;
    }
  }
}

.intro__list {
  list-style: none;
  margin: 0 0 28px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 35px;

  @media (min-width: @tablet-width) {
    margin: 0 0 38px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 58px;
  }
}

.intro__legend {
  margin: 0;
  font-weight: 200;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
