.logo {
  display: block;
  transition: @color-ease;

  &:hover {
    color: @basic-pink;
  }

  &--place--header {
    width: 74px;
    height: 23px;
    margin-left: @mobile-side-padding;
    padding-bottom: 21px;
    color: @basic-white;
    //border-bottom: 1px solid @basic-black;

    @media (min-width: @tablet-width) {
      margin-left: @tablet-side-padding;
      padding-bottom: 42px;
    }

    @media (min-width: @desktop-width) {
      width: 147px;
      height: 40px;
      margin-left: 0;
      padding-bottom: 0;
    }

    &:active {
      color: rgba(@basic-white, 0.3);
    }
  }

  &--place--footer {
    color: @basic-blue;
    transition: opacity 0.3s, @color-ease;

    &:active {
      color: @basic-blue;
      opacity: 0.3;
    }
  }
}
