.page {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: @basic-white;
  color: @basic-blue;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.page__container {
  min-width: 320px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
}
