.reviews__container {
  padding: 50px @mobile-side-padding 60px;

  @media (min-width: @tablet-width) {
    padding: 50px @tablet-side-padding 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 193px @desktop-side-padding 142px;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__blockquote {
  margin: 0;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 31px;

  @media (min-width: @tablet-width) {
    row-gap: 51px;
  }
}

.reviews__author {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.reviews__author-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-bio {
  margin: 0;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 670px;
    font-size: 18px;
    order: 1;
  }
}

.reviews__nav {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
