.reviews__container {
  padding: 39px @mobile-side-padding 35px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 41px @tablet-side-padding 15px;
  }

  @media (min-width: @desktop-width) {
    padding: 184px @desktop-side-padding 80px;
    background: url("../img/icon-quotes.svg") no-repeat;
    background-position: center top 72px;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__blockquote {
  margin: 0;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
}

.reviews__author {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.reviews__author-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-bio {
  margin: 0;
  display: none;

  @media (min-width: @tablet-width) {
    line-height: 24px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 670px;
    font-size: 18px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    max-width: 690px;
  }
}

.reviews__nav {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 22px;
    height: 41px;
    padding: 0;
    color: rgba(@basic-blue, 0.3);
    background-color: transparent;
    border: none;
    position: absolute;
    top: 213px;
    cursor: pointer;
    transition: @color-ease;

    &:hover {
      color: rgba(@basic-blue, 0.6);
    }

    &:active {
      color: rgba(@basic-blue, 0.1);
    }

    &--dir--prev {
      left: @desktop-side-padding;
    }

    &--dir--next {
      right: @desktop-side-padding;
    }
  }
}
