.section-heading {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }

  &--place--index {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 200;

    & > p {
      margin: 0;
    }

    @media (min-width: @tablet-width) {
      font-size: 40px;
      line-height: 1.35;
    }

    @media (min-width: @desktop-width) {
      font-size: 50px;
    }
  }
}
