.table {
  width: 100%;
  line-height: 30px;
  border-collapse: collapse;
  position: relative;

  @media (max-width: @mobile-width-only) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.table__header {
  box-sizing: border-box;
  width: 25%;

  @media (max-width: @mobile-width-only) {
    min-width: calc(100vw - 42px);
  }

  &:not(:first-of-type) {
    padding: 12px 23px 26px;
    background-color: @basic-blue;
    color: @basic-white;
    border-right: 2px solid @ligth-grey;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      padding: 12px 23px 7px;
    }

    @media (min-width: @desktop-width) {
      padding: 16px 23px 23px;
    }
  }

  &:first-of-type {
    display: none;

    @media (min-width: @tablet-width) {
      display: table-cell;
    }
  }

  &:nth-of-type(2) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-of-type {
    border-right: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &--hit {
    position: relative;
    overflow: hidden;

    &::after {
      content: "Хит";
      width: 110px;
      height: 23px;
      font-size: 14px;
      line-height: 1.5;
      position: absolute;
      top: 20px;
      left: -31px;
      transform: rotate(-45deg);
      text-align: center;
      text-transform: uppercase;
      background-color: @basic-pink;
      color: @basic-white;

      @media (min-width: @tablet-width) {
        width: 86px;
        height: 19px;
        line-height: 1.3;
        top: 14px;
        left: -22px;
      }

      @media (min-width: @desktop-width) {
        width: 110px;
        height: 23px;
        line-height: 1.5;
        left: -27px;
      }
    }
  }
}

.table__plan-name {
  font-size: 16px;
  font-weight: 700;
  display: block;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.table__plan-price {
  line-height: 1.3;
  vertical-align: top;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.table__cell {
  padding: 14px 17px 15px 20px;
  background-color: @basic-white;
  border: 2px solid @ligth-grey;

  &:not(:first-of-type) {
    border-top: none;
  }

  @media (min-width: @tablet-width) {
    padding: 8px 15px 2px;
  }

  @media (min-width: @desktop-width) {
    padding: 11px 15px 13px 21px;
  }

  &--type--feature {
    display: none;

    @media (min-width: @tablet-width) {
      display: table-cell;
    }

    @media (min-width: @desktop-width) {
      font-size: 18px;
    }
  }

  &--type--presence {
    @media (min-width: @tablet-width) {
      text-align: center;
    }
  }
}

.table__feature-name {
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.table__mark {
  @media (max-width: @mobile-width-only) {
    float: right;
    margin: auto 0;
  }
}
