@basic-white: #ffffff;
@basic-blue: #283645;
@darker-blue: #1D2631;
@basic-black: #000000;
@ligth-grey: #e5e5e5;
@smoky-grey: #f2f2f2;
@basic-pink: #d22856;
@basic-green: #2AAB6D;
@darker-green: #1C9B5E;
@color-ease: color 0.5s ease;
