// Colors

@basic-white: #ffffff;
@basic-blue: #283645;
@darker-blue: #1D2631;
@basic-black: #000000;
@ligth-grey: #e5e5e5;
@smoky-grey: #f2f2f2;
@basic-pink: #d22856;
@basic-green: #2AAB6D;
@darker-green: #1C9B5E;

// Viewports

@tablet-width: 660px;
@desktop-width: 1200px;
@mobile-width-only: 659px;

// Section paddings

@mobile-side-padding: 20px;
@tablet-side-padding: 20px;
@desktop-side-padding: 130px;

// Other

@color-ease: color 0.5s ease;

.modal-shadow() {
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
